<!DOCTYPE html>
<html lang="en">
  <head th:insert="~{template/template::head}"> </head>
  <body>
    <div class="container mt-4">
      <header
        class="title-font-seagreen"
        th:insert="~{template/template::page-header('THÊM ỨNG VIÊN')}"
      ></header>
      <main class="">
        <div class="row">
          <div class="col-3"></div>
          <div class="col-6">
            <form
              action="#"
              th:action="@{/add-applicant}"
              th:object="${applicant}"
              method="post"
            >
              <div
                th:insert="~{template/template::input('name', *{name}, 'Tên')}"
              ></div>
              <div
                th:insert="~{template/template::input('address', *{address}, 'Địa chỉ')}"
              ></div>
              <div
                th:insert="~{template/template::input('age', *{age}, 'Tuổi')}"
              ></div>
              <div
                th:insert="~{template/template::input('sex', *{sex}, 'Giới tính')}"
              ></div>
              <div
                th:insert="~{template/template::input('education', *{education}, 'Trình độ học vấn')}"
              ></div>
              <div
                th:insert="~{template/template::input('phoneNumbers', *{phoneNumbers}, 'Số điện thoại')}"
              ></div>
              <div
                th:insert="~{template/template::input('email', *{email}, 'Email')}"
              ></div>

              <button class="btn btn-success" type="submit">Submit</button>
            </form>
          </div>
          <div class="col-3"></div>

          <section class="message">
            <p th:text="${message}"></p>
          </section>
        </div>
      </main>
    </div>
  </body>
</html>
