<!DOCTYPE html>
<html lang="en">
  <head th:insert="~{template/template::head}"> </head>
  <body>
    <div class="container mt-4">
      <header
        class="title-font-tomato"
        th:insert="~{template/template::page-header('TẠO VIỆC LÀM')}"
      ></header>
      <main class="">
        <div class="row">
          <div class="col-3"></div>
          <div class="col-6">
            <form
              action="#"
              th:action="@{/add-job}"
              th:object="${job}"
              method="post"
            >
              <div class="form-input mb-3">
                <label class="form-label" th:for="name">Tên</label>
                <input
                  class="form-control"
                  type="text"
                  th:id="name"
                  th:field="*{name}"
                />
              </div>
              <div class="form-input mb-3">
                <label class="form-label" th:for="company">Công ty</label>
                <input
                  class="form-control"
                  type="text"
                  th:id="company"
                  th:field="*{company}"
                />
              </div>
              <div class="form-input mb-3">
                <label class="form-label" th:for="salary">Lương</label>
                <input
                  class="form-control"
                  type="text"
                  th:id="salary"
                  th:field="*{salary}"
                />
              </div>
              <div class="form-input mb-3">
                <label class="form-label" th:for="description">Mô tả</label>
                <input
                  class="form-control"
                  type="text"
                  th:id="description"
                  th:field="*{description}"
                />
              </div>
              <div class="form-input mb-3">
                <label class="form-label" th:for="location">Địa điểm</label>
                <input
                  class="form-control"
                  type="text"
                  th:id="location"
                  th:field="*{location}"
                />
              </div>

              <button class="btn btn-danger" type="submit">Submit</button>
            </form>
          </div>
          <div class="col-3"></div>

          <section class="message">
            <p th:text="${message}"></p>
          </section>
        </div>
      </main>
    </div>
  </body>
</html>
