<!DOCTYPE html>
<html lang="en">
  <head th:insert="~{template/template::head}"> </head>
  <body>
    <div class="container mt-4">
      <header
        class="title-font-tomato"
        th:insert="~{template/template::page-header('THÊM ỨNG VIÊN')}"
      ></header>
      <main class="">
        <div class="row">
          <div class="col-3"></div>
          <div class="col-6">
            <form
              action="#"
              th:action="@{/add-job}"
              th:object="${job}"
              method="post"
            >
              <div
                th:insert="~{template/template::input('name', *{name}, 'Công việc')}"
              ></div>
              <div
                th:insert="~{template/template::input('company', *{company}, 'Công ty')}"
              ></div>
              <div
                th:insert="~{template/template::input('salary', *{salary}, 'Lương')}"
              ></div>
              <div
                th:insert="~{template/template::input('description', *{description}, 'Mô tả')}"
              ></div>
              <div
                th:insert="~{template/template::input('location', *{location}, 'Địa điểm')}"
              ></div>

              <button class="btn btn-danger" type="submit">Submit</button>
            </form>
          </div>
          <div class="col-3"></div>

          <section class="message">
            <p th:text="${message}"></p>
          </section>
        </div>
      </main>
    </div>
  </body>
</html>
