<!DOCTYPE html>
<html lang="en">
  <head th:insert="~{template/template::head}"> </head>
  <body>
    <div class="container mt-4">
      <header
        class="title-font-blue"
        th:insert="~{template/template::page-header('THÊM NHÀ TUYỂN DỤNG')}"
      ></header>
      <main class="">
        <div class="row">
          <div class="col-3"></div>
          <div class="col-6">
            <form
              action="#"
              th:action="@{/add-employer}"
              th:object="${employerRequest}"
              method="post"
            >
              <div
                th:insert="~{template/template::input('name', *{name}, 'Tên')}"
              ></div>
              <div
                th:insert="~{template/template::input('address', *{address}, 'Địa chỉ')}"
              ></div>
              <div
                th:insert="~{template/template::input('business-activies', *{businessActivities}, 'Lĩnh vực kinh doanh')}"
              ></div>
              <button class="btn btn-primary" type="submit">Submit</button>
            </form>
          </div>
          <div class="col-3"></div>

          <section class="message">
            <p th:text="${message}"></p>
          </section>
        </div>
      </main>
    </div>
  </body>
</html>
