<!DOCTYPE html>
<html lang="en">
  <head th:insert="~{template/template::head}"> </head>
  <body>
    <header class="title-font-seagreen"
    th:insert="~{template/template::page-header('DANH SÁCH ỨNG VIÊN')}"
  ></header>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Ảnh</th>
          <th scope="col">Tên</th>
          <th scope="col">Tuổi</th>
          <th scope="col">Địa chỉ</th>
          <th scope="col">Giới tính</th>
          <th scope="col">Trình độ học vấn</th>
          <th scope="col">Email</th>
          <th scope="col">Số điện thoại</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="applicant, iStat:${applicants}">
          <th scope="row" th:text="${iStat.index} +1"></th>
          <td>
            <img th:src="|/photo/${applicant.avatar.getOriginalFilename}|" alt="avatar" width="40px" height="40px">
          </td>
          <td th:text="${applicant.name}">Otto</td>
          <td th:text="${applicant.age}">abc</td>
          <td th:text="${applicant.address }">@mdo</td>
          <td th:text="${applicant.gender == 0 ? 'Nam' : 'Nữ'}">Nam</td>
          <td th:text="${applicant.education}"></td>
          <td th:text="${applicant.email}"></td>
          <td th:text="${applicant.phoneNumbers}"></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
