<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:insert="~{template/template::head}"> </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col"></div>
        <div class="col-6">
          <div
            class="employer"
            th:insert="~{template/template::card(
              'NHÀ TUYỂN DỤNG',
              'Thêm nhà tuyển dụng', 
              'Danh sách nhà tuyển dụng', 
              'https://cdn-icons-png.flaticon.com/512/2405/2405283.png', 
              '/add-employer',
              '/employers')}"
          ></div>
          <div
            class="job"
            th:insert="~{template/template::card(
              'VIỆC LÀM',
              'Tạo việc làm', 
              'Danh sách việc làm', 
              'https://cdn-icons.flaticon.com/png/512/2936/premium/2936656.png?token=exp=1652129860~hmac=0f022f7c5968f4962779f600cad4c7d3',
              '/add-job',
              '/jobs')}"
          ></div>
          <div
            class="applicant"
            th:insert="~{template/template::card(
            'ỨNG VIÊN',
            'Thêm ứng viên', 
            'Danh sách ứng viên',
            'https://cdn-icons.flaticon.com/png/512/522/premium/522267.png?token=exp=1652129942~hmac=13c48bec725019a50e35cec7d46547f5', 
            '/add-applicant',
            '/applicants')}"
          ></div>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </body>
</html>
